<h1>Transaction List</h1>

<% for tran in @transactions %>
<ul>
<a href="/transactions/<%= tran.id %>">
<li><%= tran.merchant %></li>
<li><%= sprintf("£%.2f", tran.amount) %></li>
<li><%= tran.tag %></li>
<li><%= tran.tran_date %></li>

</ul>

<% end %>
