<h1>Transaction List</h1>

<% for tran in @transactions %>
<ul>

<li><a href="/transactions/<%= tran.id %>"><%= tran.merchant %></li>
<li><a href="/transactions/<%= tran.id %>"><%= sprintf("£%.2f", tran.amount) %></li>
<li><a href="/transactions/<%= tran.id %>"><%= tran.tag %></li>
</ul>

<% end %>
