<h1>Transaction List</h1>


<% for tran in @transactions %>
<div class="list_unit">
  <ul>  
    <li><%= tran.merchant %></li>
    <li><%= sprintf("£%.2f", tran.amount) %></li>
    <li><%= tran.tag %></li>
    <li><%= tran.tran_date %></li>
  <span class="viewbox"><a href="/transactions/<%= tran.id %>"">View Transaction</a></span>

  </ul>
  
  </div>
<% end %>
