<h1>Transaction Detail</h1>

<div class="tran_details">

<p>Merchant: <%= @transaction.merchant %></p>
<p>Amount: <%= sprintf("£%.2f", @transaction.amount) %></p>
<p>Tag: <%= @transaction.tag %></p>
<p>Date: <%= @transaction.tran_date %></p>


</div>

<p><a href="/transactions/<%= @transaction.id %>/edit">Edit Transaction</p></a>

<form action="/transactions/<%= @transaction.id %>/delete" method = "post">
<input type="submit" value="Delete" />
</form>
